.tamaño{
    width: 100%;
    aspect-ratio: 7 / 9;
    object-fit: cover;
}

.Alineamiento{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));   
    gap: 30px;  
}

.Centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.fondo{
    background-image: url("fondoDeCine.jpg");
    background-size: cover;
}

.fondoDeCaja{
    background-color: cornflowerblue;
}

.alinearFooter{
    text-align: center;
}

